@font-face{
    font-family: 'Josefin';
    src: url("../assets/JosefinLight.ttf") format("truetype");
} 

@font-face{
    font-family: 'JosefinRegular';
    src: url("../assets/Josefin.ttf") format("truetype");
} 


.scroll-menu{
    margin-top: 1%; 
    float: left; 
    width: 50%; 
    padding: 2%; 
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.wishItem{ 
    min-height: 450px; 
    padding: 2%; 
}

.about{ 
    background-image: linear-gradient(#ebf4fc   , #bddfff, #0451b5, #10366b);
    margin: 2%; 
    width: 46%; 
    height: 100%; 
    float: right; 
    border-radius: 25px 65px;
}

.about .header{ 
    font-family: "Josefin"; 
    color: white; 
    font-size: x-large;
    margin: auto; 
    padding-left: 40%; 
    text-transform: capitalize;
}

.about .text{ 
    font-family: "Josefin";
    color: white; 
    margin: auto; 
    padding-left: 10%; 
    padding-top: 5%;
    padding-bottom: 10%; 
}

.about .image{ 
    width: 40%; 
    margin-left: 30%; 
    margin-right: 10%; 
}