@font-face{
    font-family: 'Josefin';
    src: url("../assets/JosefinLight.ttf") format("truetype");
} 

@font-face{
    font-family: 'JosefinRegular';
    src: url("../assets/Josefin.ttf") format("truetype");
} 


.scroll-menu{
    margin-top: 1%; 
    float: left; 
    width: 50%; 
    padding: 2%; 
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.wishItem{ 
    min-height: 450px; 
    padding: 2%; 
}

.about{ 
    background-image: linear-gradient(#edf4ff, #6096fd, #031b88);
    margin: 2%; 
    width: 46%; 
    height: 100%; 
    float: right; 
    border-radius: 25px 65px;
    align-content: center;
    text-align: center; 
}

.about .header{ 
    font-family: "Josefin"; 
    color: white; 
    font-size: x-large;
    margin: auto; 
    text-align: center; 
    align-content: center;
    text-transform: capitalize;
}

.about .text{ 
    font-family: "Josefin";
    color: white; 
    margin: auto; 
    text-align: center; 
    align-content: center; 
    padding-top: 5%;
    padding-bottom: 10%; 
}

.about .image{ 
    text-align: center; 
    width: 40%; 
    align-content: center;
}