@font-face{
    font-family: 'Josefin';
    src: url("../assets/JosefinLight.ttf") format("truetype");
} 

a {
    color: white;
}

a:hover, a:visited {
    color: white;
}
  
.top-nav{ 
    top: 0; 
    position: sticky;
    text-align: center; 
    overflow: hidden;
    padding: 0;
    margin: 0;  
    padding: 1%; 
    background: #10366b; 
    z-index: 999; 
}

.top-nav .logo{ 
    width: 50px; 
    float: left; 
}

.top-nav .left{
    font-family: "Josefin";
    font-size: larger;
    float: left;
    margin-left: 1%; 
    margin-top: 1%;   
}

.top-nav .right{
    float: right; 
    margin-right: 2%; 
    margin-top: 1%; 
}

.top-nav .signup-button{ 
    float: right; 
    margin-right: 2%; 
    margin-top: 0.5%; 
}
