
.wish{ 
    min-width: 350px; 
    width: 25%; 
    background: white;
    margin: auto; 
    padding: 3%;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.dashboardwish{ 
    width: 50%; 
    background: white;
    margin: auto; 
    padding: 3%; 
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-top: 2%;
    margin-bottom: 2%;  
}
.wish .title, .dashboardwish .title{ 
    text-align: center; 
    text-transform: uppercase;
}

.wish .subtitle, .dashboardwish .subtitle{ 
    text-align: right;
    font-size: smaller;
}

.wish .description, .dashboardwish .description{ 
    text-align: center;
}

.wish .button, .dashboardwish .button{ 
    text-align: center; 
}

.editWish{ 
    padding: 3%; 
    width: 40%; 
    margin: auto; 
    margin-top: 2%; 
    background-image: linear-gradient( #accae8, #699ccf);
    border-radius: 25px;
    color: white;   
}